@import './resets';
@import './font';
@import './variables';

/* -------------------  MOBILE  --------------------- */

body {
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1;
  padding: 36px 16px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  min-height: 100vh;
  color: $mars-warm;
  background-color: $space-black;
}

h1 {
  margin-bottom: 16px;
}

[data-rover] {
  padding-left: $box-padding;
  padding-bottom: 2px;
  border: $border;
  &:nth-child(1),
  &:nth-child(2) {
    border-bottom: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $mars-warm;
    color: $space-black;
  }
}

main {
  margin-top: 48px;
  border: $border;
  border-top: $border;
}

section {
  margin: 6px 0 0 0;
}

.details {
  padding-left: $box-padding;
}

.rover-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 12px;
  border-top: $border;
}

img {
  border: $border;
  width: 100%;
}

footer {
  /* footer styles */
}

.active {
  background-color: $mars-warm;
  color: $space-black;
}

.status {
  color: hsl(36, 80%, 71%);
}

.dim-txt {
  opacity: .4;
}

/* -------------------  TABLET  --------------------- */

@media (min-width: 768px) {
  $box-padding: 12px;

  [data-rover],
  .details {
     padding-left: $box-padding;
  }

  body {
    font-size: 20px;
    padding: 48px 32px;
  }

  h1 {
    font-size: 48px;
  }

  .rovers {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .rover-images {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  [data-rover] {
    flex-grow: 1;
    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: .5px solid $mars-warm;
    }
  }
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
  .rover-images {
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  }

  body {
    padding-top: 106px;
  }

  h1 {
    letter-spacing: -1px;
  }

  main {
    margin-top: 60px;
  }
}
